// colors

$white: #FFF;
$black: #000;
$lightBlue: #6CEEC7;
$lightGrey: #E0E0E0;
$grey: #5E5E5E;
$darkGrey: #212121;

// inputs

$inputBg: rgba(0, 0, 0, 0.2);
$inputBgFocus: rgba(0, 0, 0, 0.4);

// transition durations

$tranDur: 300ms;

// font-sizes

$fSizeTitle: 24px;
$fSizePlaceholder: 19px;
$fSizeButton: 19px;
$fSizeAgreement: 15px;
$fSizePlaceholderFocus: 11px;
